@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bradford School Pittsburgh
    125 West Station Square Drive
    Pittsburgh, PA 15219
    <a href="mailto://lcottrell@bradfordpittsburgh.edu">lcottrell@bradfordpittsburgh.edu</a>
</address>


